<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.by5388.learn.v4.kotlin.photogallery">

    <permission
        android:name="${applicationId}.PRIVATE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.PRIVATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

<!--   android:usesCleartextTraffic="true" 允许加载http -->
    <application
        android:name=".PhotoGalleryApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearnBook">
        <activity
            android:name=".PhotoGalleryActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PhotoPageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <receiver
            android:name=".NotificationReceiver"
            android:exported="false"
            android:permission="${applicationId}.PRIVATE">
            <!-- 最低的优先级，-999，而-1000是系统保留的值 -->
            <intent-filter android:priority="-999">
                <action android:name="${applicationId}.SHOW_NOTIFICATION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>